@forward "./core.scss";
@forward "./neutrals.scss";
@forward "./secondary.scss";

// THEME BG COLORS
$theme-white-to-blue         : var(--theme-white-to-blue);
$theme-white-to-dark-blue    : var(--theme-white-to-dark-blue);
$theme-dark-blue-to-white    : var(--theme-dark-blue-to-white);
$theme-blue-to-white         : var(--theme-blue-to-white);
$theme-medium-blue-to-white  : var(--theme-medium-blue-to-white);
$theme-blue-to-blue          : var(--theme-blue-to-blue);
$theme-dark-blue-to-blue     : var(--theme-dark-blue-to-blue);
$theme-red-to-accessible-red : var(--theme-red-to-accessible-red);
$accessible-red              : var(--accessible-red);

// THEME FONT COLORS