$yellow     : var(--yellow);
$green      : var(--green);
$purple     : var(--purple);
$dark-purple: var(--dark-purple);
$bright-blue: var(--bright-blue);
$medium-blue: var(--medium-blue);
$orange     : var(--orange);