$tertiary-B8D7DF : var(--tertiary-B8D7DF);
$tertiary-7A73AC : var(--tertiary-7A73AC);
$tertiary-D2CB8E : var(--tertiary-D2CB8E);
$tertiary-809DC5 : var(--tertiary-809DC5);
$tertiary-B7DCDD : var(--tertiary-B7DCDD);
$tertiary-BA70AE : var(--tertiary-BA70AE);